<!DOCTYPE html>
<html>
  <body class="bk_secret">
    <center>
      <h1>WELCOME</h1>
      <p>BIENVENUE <%= @first_name %> ! Ici c'est notre super site de potins, il est chouette, non ?</p>
    </center>
  </body>
</html>